/* Github Calendar Color Override */
:root {
	/* --color-calendar-graph-day-bg: hsla(0, 100%, 50%, 0.102) !important;
	--color-calendar-graph-day-L1-bg: hsla(0, 100%, 50%, 0.302) !important;
	--color-calendar-graph-day-L2-bg: hsla(0, 100%, 50%, 0.502) !important;
	--color-calendar-graph-day-L3-bg: #ff0000cc !important;
	--color-calendar-graph-day-L4-bg: hsl(0, 100%, 50%) !important; */

	--light: hsla(320, 54%, 50%, 0.102);
	--light-L1: hsla(320, 54%, 50%, 0.302);
	--light-L2: hsla(320, 54%, 50%, 0.502);
	--light-L3: hsla(320, 54%, 50%, 0.8);
	--light-L4: hsla(320, 54%, 50%, 1);

	--color-calendar-graph-day-bg: hsla(320, 54%, 50%, 0.102) !important;
	--color-calendar-graph-day-L1-bg: hsla(320, 54%, 50%, 0.302) !important;
	--color-calendar-graph-day-L2-bg: hsla(320, 54%, 50%, 0.502) !important;
	--color-calendar-graph-day-L3-bg: hsla(320, 54%, 50%, 0.8) !important;
	--color-calendar-graph-day-L4-bg: hsla(320, 54%, 50%, 1) !important;

	/* Light mode */
	--light-text: #121212;
	--light-bg: #fbf9fa;
	--light-highlight: #c43b96;
	--light-header-bg: #1a3d25;
	--light-header-text: #fbf9fa;
	--light-header-text-selected: #21de60;
	--light-news-bg: #c2e5ce;

	--dark-switch-shadow: #fce477;
	--dark-switch-icon: "😴";

	/* Dark mode */
	--dark-text: #dadada;
	--dark-bg: #0e1217;
	--dark-highlight: #69e179;
	--dark-header-bg: #171c22;
	--dark-header-text: #f0f6fb;
	--dark-header-text-selected: #d07bb3;
	--dark-news-bg: #36202f;

	--light-switch-shadow: #fce477;
	--light-switch-icon: "🙂";

	/* Default mode */
	--text-color: var(--dark-text);
	--bg-color: var(--dark-bg);
	--highlight-color: var(--dark-highlight);
	--header-bg-color: var(--dark-header-bg);
	--header-text-color: var(--dark-header-text);
	--header-text-selected-color: var(--dark-header-text-selected);
	--news-bg-color: var(--dark-news-bg);

	--switch-shadow-color: var(--dark-switch-shadow);
	--switch-icon: var(--dark-switch-icon);
	--switch-text: var(--dark-switch-text);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: system-ui, sans-serif;
	line-height: 1.4;
	color: var(--text-color);
	background: var(--bg-color);
	position: relative;
	max-width: 64em; /* remove this for a full-width layout */
	min-width: 340px;
	margin: 0 auto; /* centers the layout */
	transition: color 0.2s, background 0.2s;
}

body #page {
	max-width: inherit;
}

/* ------- Sections ------- */

section {
	padding: calc(6em + 5vw) 5vw 8vw 5vw;
	/* ! Everything below is needed ! */
	display: none;
	position: absolute;
	top: 0;
	min-height: 100vh;
	width: 100%;
	background: var(--bg-color);
	transition: background 0.2s;
}

section:target {
	/* Show section */
	display: flex;
	flex-direction: column;
}

section#home {
	/* Show #home by default */
	display: flex;
	flex-direction: row;
}

/* ------- Header ------- */

header {
	padding: 0 5vw 0 5vw;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	background: var(--header-bg-color);
	max-width: inherit;
	width: 100%;
	height: 3rem;
	z-index: 2;
	align-items: center;
	transition: background 0.2s;
}

header h1 {
	font-size: 1em;
	flex: 1; /* pushes nav to the right */
	white-space: nowrap;
	/*padding: 0 5vw 0.5em 0;*/
}

header a {
	color: var(--header-text-color);
}

.nav-switch-label {
	display: flex;
}

nav {
	flex: 1;
}

nav a:not(:last-of-type) {
	margin-right: 1.5vw;
}

nav a:last-of-type {
	margin-right: 2vw;
}

.theme-switch {
	display: none;
}

.label {
	position: relative;
	display: flex;
	align-items: center;
}
.switch-label {
	width: 2.2rem;
	height: 1rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
}
.switch-label::before,
.switch-label::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
}
.switch-label::before {
	width: 2.2rem;
	height: 1rem;
	background-color: var(--header-text-color);
	border-radius: 100rem;
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}
.switch-label::after {
	left: -0.25rem;
	content: var(--switch-icon);
	font-size: 1.5rem;
	animation: blink-shadow 2s linear infinite;
	-webkit-transition: left 0.25s ease;
	transition: left 0.25s ease;
}

/* .theme-switch:checked ~ #page .switch-label::before {
	background: var(--light-text);
} */

.theme-switch:checked ~ #page .switch-label::after {
	left: 1rem;
}

@keyframes blink-shadow {
	0% {
		text-shadow: 0 0 0rem var(--switch-shadow-color);
	}
	50% {
		text-shadow: 0 0 1rem var(--switch-shadow-color);
	}

	100% {
		text-shadow: 0 0 0rem var(--switch-shadow-color);
	}
}

.theme-switch:checked ~ #page {
	--text-color: var(--light-text);
	--bg-color: var(--light-bg);
	--highlight-color: var(--light-highlight);
	--header-bg-color: var(--light-header-bg);
	--header-text-color: var(--light-header-text);
	--header-text-selected-color: var(--light-header-text-selected);
	--news-bg-color: var(--light-news-bg);

	--switch-shadow-color: var(--light-switch-shadow);
	--switch-icon: var(--light-switch-icon);
	--switch-text: var(--light-switch-text);
}

/* ------- General ------- */

a {
	text-decoration: none;
	color: var(--highlight-color);
	transition: color 0.2s;
}

a:hover {
	border-bottom: 1px solid;
}

section h1 {
	font-size: 1em;
	margin: 0 0 1em 0;
}

h2,
h3,
h4 {
	font-size: 1em;
	font-weight: 600;
	margin: 1.6em 0 0.6em 0;
}

p,
ul,
ol,
article {
	max-width: 60ch; /* Limit line-length to 60 characters */
	margin-bottom: 0.6em;
}

ul {
	list-style-type: none;
}

ul li::marker {
	content: "\2022   ";
}

li {
	margin-bottom: 0.2em;
}

ul,
ol {
	padding-left: 2ch;
}

b,
strong {
	font-weight: 600;
}

small {
	font-size: 0.85em;
}

hr {
	height: 1px;
	border: 0;
	background: currentColor;
	opacity: 0.1;
	margin: 1.2em 0;
}

abbr {
	text-decoration: none;
}

abbr[title]:hover {
	opacity: 0.7;
	cursor: help;
}

blockquote {
	padding-left: 2ch;
	opacity: 0.7;
	margin-bottom: 0.6em;
	position: relative;
}

blockquote:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.3em;
	bottom: 0.3em;
	background: currentColor;
	width: 1px;
	opacity: 0.2;
}

img,
svg,
video,
audio {
	display: block;
	max-width: 100%;
	height: auto;
	fill: currentColor;
}

code,
textarea {
	font-family: ui-monospace, SF Mono, Menlo, Monaco, Andale Mono, monospace;
	font-size: 1em;
	opacity: 0.7;
}

a code {
	opacity: 1;
}

pre,
textarea {
	/* for code samples */
	font-size: 0.9em;
	color: inherit;
	line-height: inherit;
	padding: 0.6em 0.9em;
	margin: 0.8em 0 1em 0;
	position: relative;
	display: block;
	width: 100%;
	white-space: pre;
	border: 0;
	border-radius: 4px;
	background: rgba(255, 255, 100, 0.075);
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.2),
		inset -1px -1px 0 rgba(0, 0, 0, 0.04);
}

/* Inline footnotes */

label {
	cursor: pointer;
	vertical-align: super;
	line-height: 1;
	font-size: 0.75em;
	padding-left: 0.1em;
}

label:hover {
	color: var(--highlight-color);
}

label:before {
	content: "[";
}
label:after {
	content: "]";
}

label + input,
label + input + small {
	display: none;
}

input:checked + small {
	display: block;
	padding: 0.8em 0 1em 2.5vw;
}

/* Figures */

figure {
	margin: 2em 0 1.5em 0;
}

figure figcaption {
	margin: 0.8em 0 0 0;
	font-size: 0.85em;
	opacity: 0.7;
}

/* Responsive video embeds */

figure.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
}

figure.video iframe,
figure.video object,
figure.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	visibility: hidden; /* so loading="lazy" should work? */
}

section:target iframe {
	visibility: visible;
}

/* External links */

a[href*="//"]:after
{
	font-weight: 300;
	font-size: 0.85em;
	content: "\2197"; /* top right arrow: â†— */
	color: var(--text-color);
	opacity: 0.25;
}

a[href*="//"]:hover:after
{
	color: var(--highlight-color);
	opacity: 1;
}

/* File links */

a:before {
	font-size: 0.7em;
	margin-right: 0.4em;
}

/* Add more filetypes here if you want */

a[href$=".pdf"]:before {
	content: "PDF";
}
a[href$=".txt"]:before {
	content: "TXT";
}
a[href$=".mp3"]:before {
	content: "MP3";
}
a[href$=".zip"]:before {
	content: "ZIP";
}
a[href$=".rar"]:before {
	content: "RAR";
}
a[href$=".jpeg"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before {
	content: "IMG";
}

/* ------- News ------- */
article {
	padding: 0.5em;
	background: var(--news-bg-color);
	transition: background 0.2s;
}

article + article {
	margin-top: 4.5em;
}

article h2 {
	font-weight: 700;
	margin: 0 0 1em 0;
}

article time {
	margin-left: 0.6em;
	font-size: 0.8em;
	font-weight: 400;
	opacity: 0.7;
}

/* ------- Images Grid ------- */

.grid {
	display: grid;
	grid-gap: 5vmin;
	grid-template-columns: repeat(
		auto-fill,
		minmax(150px, 1fr)
	); /* 150px = minimum image size */
	grid-auto-flow: dense;
	padding: 2em 0;
}

.grid a {
	position: relative;
	border: 0;
}

.grid a:hover {
	transform: scale(0.975);
}

/* For a square ratio */
.grid a:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.grid a img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* ------- Slideshow ------- */

.slides {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.slides figure {
	height: 100vh;
	padding: 0 5vw;
	margin: 0;
	display: grid;
	place-items: center;
	align-content: center;
	scroll-snap-align: center;
}

.slides figure img {
	max-height: 88vh; /* Adjust if needed */
}

.slides figure.cover {
	padding: 0;
}

.slides figure.cover img {
	max-height: none;
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

/* ------- Lightbox ------- */

.lightbox {
	display: none;
	color: var(--text-color);
}

.lightbox:target {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	place-items: center;
	align-content: center;
	background: var(--bg-color);
	border: 0;
	z-index: 3;
}

.lightbox img {
	max-height: 100vh;
	z-index: 4;
}

.lightbox:target:before {
	/* Loading spinner */
	content: "";
	height: 2em;
	width: 2em;
	animation: spin 0.8s infinite linear;
	border: 1px solid;
	border-right-color: transparent;
	border-radius: 50%;
	display: block;
	position: absolute;
	transform: translateX(-50%);
	opacity: 0.25;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.lightbox:target:after {
	/* Ã— to close */
	content: "\00D7";
	position: fixed;
	font-size: 2em;
	font-weight: 200;
	line-height: 0;
	top: 0.75em;
	right: 0.5em;
	z-index: 4;
}

/* ------- Smaller screens ------- */

@media only screen and (max-width: 680px) {
	body {
		font-size: 16px;
	}

	section#home {
		flex-direction: column;
	}
}

@media only screen and (max-width: 540px) {
	.nav-switch-label {
		width: 100%;
	} /* Fix for older webkit versions */

	section#home {
		flex-direction: column;
	}
}

/* ------- Print ------- */

@media print {
	nav,
	.lightbox:target:after {
		display: none;
	}

	article,
	figure,
	img {
		page-break-inside: avoid;
		break-inside: avoid;
	}

	/* Inline footnotes */

	label + input + small {
		display: inline;
	}
	label + input + small:before {
		content: "[";
	}
	label + input + small:after {
		content: "]";
	}

	/* Slides */

	.slides,
	.slides figure {
		position: relative;
		height: auto;
		padding: 0;
	}

	.slides figure img,
	.slides figure.cover img {
		max-height: auto;
		position: relative;
		z-index: 1;
		width: auto;
		height: 100vh;
		object-fit: contain;
	}
}

/* Github Calendar */
.calendar {
	background: var(--bg-color);
	color: var(--text-color);
	border: 0 !important;
	font-size: 1.2vw !important;
	transition: color 0.2s, background 0.2s;
}

.text-muted {
	font-size: 0.8rem !important;
}

div.float-right.text-gray {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem 0 0.2rem 0;
}

div.float-right.text-gray svg {
	margin: 0.12rem;
}

div.float-right.text-gray svg:first-of-type {
	margin-left: 0.24rem;
}

div.float-right.text-gray svg:last-of-type {
	margin-right: 0.24rem;
}

.contrib-number {
	color: var(--color-calendar-graph-day-L4-bg) !important;
}

img.spinner {
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
	display: block;
}

p.spinner-text {
	color: #ffffff;
	margin: auto;
}

rect {
	rx: 1.5;
	ry: 1.5;
}
